.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
CA_wastewater_rt.Rproj
results/case_full_county_rt_estimates.csv
results/generated_quantities/generated_quantities_county1_seed1.csv
results/generated_quantities/generated_quantities_scenarioebmud_seed1.csv
results/generated_quantities/posterior_df_county1_seed1.csv
results/generated_quantities/posterior_df_scenarioebmud_seed1.csv
results/generated_quantities/posterior_fixed_samples_county1_seed1.csv
results/generated_quantities/posterior_fixed_samples_scenarioebmud_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county1_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_scenarioebmud_seed1.csv
results/mcmc_summaries/mcmc_summary_county1_seed1.csv
results/mcmc_summaries/mcmc_summary_scenarioebmud_seed1.csv
results/mcmc_summaries/trace_scenarioebmud_seed1.png
results/posterior_predictive/posterior_predictive_county1_seed1.csv
results/posterior_predictive/posterior_predictive_intervals_county1_seed1.csv
results/posterior_predictive/posterior_predictive_intervals_scenarioebmud_seed1.csv
results/posterior_predictive/posterior_predictive_scenarioebmud_seed1.csv
results/posterior_samples/posterior_samples_county1_seed1.jld2
results/posterior_samples/posterior_samples_scenarioebmud_seed1.jld2
results/posterior_samples/prior_samples_scenarioebmud_seed1.jld2
results/prior_generated_quantities_scenarioebmud_seed1.csv
results/prior_predictive_scenarioebmud_seed1.csv
results/prior_samples_scenarioebmud_seed1.csv
results/prior_timevaryingquantiles_scenarioebmud_seed1.csv
data/ebmud.csv
results/generated_quantities/generated_quantities_county16_seed1.csv
results/generated_quantities/generated_quantities_county2_seed1.csv
results/generated_quantities/posterior_df_county2_seed1.csv
results/generated_quantities/posterior_fixed_samples_county16_seed1.csv
results/generated_quantities/posterior_fixed_samples_county2_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county16_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county20_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county23_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county25_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county26_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county27_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county29_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county2_seed1.csv
results/mcmc_summaries/mcmc_summary_county16_seed1.csv
results/mcmc_summaries/mcmc_summary_county2_seed1.csv
results/posterior_predictive/posterior_predictive_county2_seed1.csv
results/posterior_predictive/posterior_predictive_intervals_county2_seed1.csv
results/posterior_samples/posterior_samples_county2_seed1.jld2
results/posterior_samples/posterior_samples_county25_seed1.jld2
results/posterior_predictive/posterior_predictive_county25_seed1.csv
results/mcmc_summaries/mcmc_summary_county25_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county9_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county8_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county7_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county6_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county5_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county4_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county3_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county30_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county28_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county24_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county22_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county21_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county19_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county18_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county17_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county15_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county14_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county13_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county12_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county11_seed1.csv
results/generated_quantities/posterior_timevarying_quantiles_county10_seed1.csv
results/generated_quantities/posterior_fixed_samples_county25_seed1.csv
results/generated_quantities/posterior_df_county25_seed1.csv
results/generated_quantities/generated_quantities_county25_seed1.csv
